node_modules/
package-lock.json
package.json
public/
.gitmodules
.idea
.idea/.gitignore
.idea/modules.xml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/writing-quests.iml
archetypes/default.md
package-lock.json
package.json
postcss.config.js
tailwind.config.js
themes/wordsmith/LICENSE
themes/wordsmith/README.md
themes/wordsmith/archetypes/default.md
themes/wordsmith/assets/css/main.css
themes/wordsmith/assets/js/main.js
themes/wordsmith/package-lock.json
themes/wordsmith/package.json
themes/wordsmith/tailwind.config.js
themes/wordsmith/theme.toml
