{{ define "main" }}

<div class="welcome-header"><h1>Welcome to the first page of your creative adventure!</h1></div>
<div class="welcome-text">
<div class="left-column">
    <h2>What is Writing Quests?</h2>
    <ul>
        <li> <i tabindex="0" class="fa-solid fa-pen-nib"></i> An Association of leaders of writing communities around the globe, most of whom were inspired by the original National Novel Writing Month (aka NaNoWriMo) and the concept created by Chris Baty–motivating writers everywhere to accomplish their dreams and write their novels while having fun doing it in the community of fellow writers </li>
        <li> <i tabindex="0" class="fa-solid fa-pen-nib"></i> A Framework of rules, guidelines, and supporting assets (such as trackers and virtual badges) to support writing groups and communities who would like to host their own Writing Quests.</li>
        <li> <i tabindex="0" class="fa-solid fa-pen-nib"></i> An organization promoting creativity and the love of writing through the facilitation of quests to motivate writers.</li>
    </ul>
    {{ with .Site.Params.homepage.logo }} <img class="home-logo" src="{{(( resources.Get . )).RelPermalink}}" alt="The Writing Quests Logo, a Phoenix emerging from a open book." /> {{ end }}
    <h2>How can I get involved?</h2>
    <ul>
        <li> <i tabindex="0" class="fa-solid fa-pen-nib"></i> Quest Guides- The people who host the Writing Quests are called Quest Guides.  They will help creatives through the process of setting goals, prepping for the quests, and provide encouragement during the event. <!--Click <a href="/get-involved/framework/">here</a> to view the framework and get started.--> </li>

        <li> <i tabindex="0" class="fa-solid fa-pen-nib"></i> Participants- Anyone can participate even if you are not a writer.  <!-- Click <a href="get-involved/participating-groups/">here</a> to find a group near you. --> </li>

        <li> <i tabindex="0" class="fa-solid fa-pen-nib"></i> Volunteers- Writing Quests is an all volunteer organization.  If you want to volunteer, please email <a href="mailto:info@writingquests.org">info@writingquests.org</a> and let us know your experience and if applicable, what you are looking to help with.</li>
    </ul>
</div> <!-- end left-column -->>
<div class="right-column">
    <div class="home-dashboard text-wq-green">
    <div class="dashboard-calendar">
        {{ with .Site.Params.homepage.calendar }}
        <iframe src="{{ . }}" style="border:solid 1px #777" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
        {{ end }}
    </div>
    <div class="dashboard-rss">
        <div class="dashboard-section-title"><h1>Read our Newsletter</h1></div>
        <div class="dashboard-rss-scroll">
            {{ $url := .Site.Params.homepage.rss }}
            {{ with resources.GetRemote $url | transform.Unmarshal }}
        <ul class="rss-content">
            {{ range .channel.item }}
            <li>
                <a href="{{ .link }}"><i tabindex="0" class="fa-solid fa-pen-nib"></i>{{ .title }}</a>
            <p>{{ .description }}</p>
            </li>
            {{ end }}
        </ul>
            {{ end }}
        </div>
    </div> <!-- end home-dashboard -->
</div> <!-- end right-column -->>
    <div tabindex="1" class="dashboard-panel social-panel">
        {{ with .Site.Params.homepage.twitter }}
        <a href="{{ . }}" tabindex="0"><i tabindex="0" class="fa-brands fa-twitter"></i></a>
        {{ end }}
        {{ with .Site.Params.homepage.instagram }}
        <a href="{{ . }}" tabindex="0"><i tabindex="0" class="fa-brands fa-instagram"></i></a>
        {{ end }}
        {{ with .Site.Params.homepage.facebook }}
        <a href="{{ . }}" tabindex="0"><i tabindex="0" class="fa-brands fa-facebook"></i></a>
        {{ end }}
        {{ with .Site.Params.homepage.pinterest }}
        <a href="{{ . }}" tabindex="0"><i tabindex="0" class="fa-brands fa-pinterest"></i></a>
        {{ end }}
        {{ with .Site.Params.homepage.youtube }}
        <a href = "{{ . }}"><i class="fa-brands fa-youtube"></i></a>
        {{ end }}
    </div>
</div> <!-- end welcome text -->
{{ end }}
