{{ define "main" }}

<div class="welcome-header"><h1>Welcome to the first step towards your creative adventure!</h1></div>
<div class="welcome-text">
<div class="left-column">

    <p>Welcome adventurers! Is your heart swirling with creativity? Do your fingertips itch to type, write, or draw? Is there a story just waiting to come out and be shared with the pages in front of you? If so, you are in the right place. Here you will find the community and resources to go forward with your adventures individually or by joining a community that is of like mind (and geographically semi-close to you). If you are lucky, you might be close to a Quest Guide. </p>

    <p>A Quest Guide is an organizer who gives pointers and encouragement for you to work on your project and could at times host events (virtual or in person in nature). As the Guide, they will help your group come up with activities during whatever month your group agrees on. They will usually also be a participant working on their own projects.  Maybe you are inclined to be a Quest Guide for your area, of which you can click the get involved tab. </p>

    <p>Maybe you are just looking to be a participant which is great! As a participant you are committing to work on your project. That can mean a variety of things. Maybe you are in a planning phase, writing phase, wanting to edit or to illustrate. You pick the type of creative endeavor that fits where you are in your creative adventure. Eventually you will be able to search our directory for local groups to join. That feature will be coming. Or maybe you choose to move forward solo.</p>

    <p>If you are looking to help our organization become a bigger and better quest, feel free to contact us in the link below.</p>

    {{ with .Site.Params.homepage.logo }} <img class="home-logo" src="{{(( resources.Get . )).RelPermalink}}" alt="The Writing Quests Logo, a Phoenix emerging from a open book." /> {{ end }}
    <h2>How can I get involved?</h2>
    <ul>
        <li> <i tabindex="0" class="fa-solid fa-pen-nib"></i> Quest Guides- The people who host the Writing Quests are called Quest Guides.  They will help creatives through the process of setting goals, prepping for the quests, and provide encouragement during the event. <!--Click <a href="/get-involved/framework/">here</a> to view the framework and get started.--> </li>

        <li> <i tabindex="0" class="fa-solid fa-pen-nib"></i> Participants- Anyone can participate even if you are not a writer.  <!-- Click <a href="get-involved/participating-groups/">here</a> to find a group near you. --> </li>

        <li> <i tabindex="0" class="fa-solid fa-pen-nib"></i> Volunteers- Writing Quests is an all volunteer organization.  If you want to volunteer, please email <a href="mailto:info@writingquests.org">info@writingquests.org</a> and let us know your experience and if applicable, what you are looking to help with.</li>
    </ul>

    <p>See <a href="https://novelquest.org">Novel Quest</a>.</p>

</div> <!-- end left-column -->
<div class="right-column">
    <div>
        <p class="larger"><a href="https://novelquest.org">Be sure to visit our Novel Quest site</a> that tells about Novel Quest, an instance of the Writing Quests framework that shows how Writing Quests can be used to create a concrete writing challenge.</p>
    </div>
    <div class="home-dashboard text-wq-green">
    <div class="dashboard-calendar">
        {{ with .Site.Params.homepage.calendar }}
        <iframe src="{{ . }}" style="border:solid 1px #777" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
        {{ end }}
    </div>
    <div class="dashboard-rss">
        <div class="dashboard-section-title"><h1>Read our Newsletter</h1></div>
        <div class="dashboard-rss-scroll">
            {{ $url := .Site.Params.homepage.rss }}
            {{ with resources.GetRemote $url | transform.Unmarshal }}
        <ul class="rss-content">
            {{ range .channel.item }}
            <li>
                <a href="{{ .link }}"><i tabindex="0" class="fa-solid fa-pen-nib"></i>{{ .title }}</a>
            <p>{{ .description | htmlUnescape }}</p>
            </li>
            {{ end }}
        </ul>
            {{ end }}
        </div>
    </div> <!-- end home-dashboard -->
</div> <!-- end right-column -->>
    <div tabindex="1" class="dashboard-panel social-panel">
        {{ with .Site.Params.homepage.twitter }}
        <a href="{{ . }}" tabindex="0"><i tabindex="0" class="fa-brands fa-twitter"></i></a>
        {{ end }}
        {{ with .Site.Params.homepage.instagram }}
        <a href="{{ . }}" tabindex="0"><i tabindex="0" class="fa-brands fa-instagram"></i></a>
        {{ end }}
        {{ with .Site.Params.homepage.facebook }}
        <a href="{{ . }}" tabindex="0"><i tabindex="0" class="fa-brands fa-facebook"></i></a>
        {{ end }}
        {{ with .Site.Params.homepage.pinterest }}
        <a href="{{ . }}" tabindex="0"><i tabindex="0" class="fa-brands fa-pinterest"></i></a>
        {{ end }}
        {{ with .Site.Params.homepage.youtube }}
        <a href = "{{ . }}"><i class="fa-brands fa-youtube"></i></a>
        {{ end }}
    </div>
</div> <!-- end welcome text -->
{{ end }}
