{{ define "main" }}
<div class="p-6 block markdown-content xl:w-1/2 lg:w-3/4 m:w-full">
  <h1 class="text-3xl text-fuchsia-950 w-full py-8">{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time class="w-full text-gray-400 text-right block" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  <div class="text-left">
  {{ .Content }}
  </div>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</div>
{{ end }}
