@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

.hide {display: none;}

.show {display: block;}


.child-menu-dropdown, .hamburger-nav {
  background: #FFE9E0;
  border-color: #556f58;
  z-index: 50;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-width: 3px;
  border-top-width: 0px;

  top: calc(5rem - 3px);
  align-self: start;
  overflow: auto;
}

.hamburger-nav {
  border-left-width: 0;
  border-right-width: 0;
}

.hamburger-nav li:hover {
  background-color: #fff9f8 !important;
}

li div ul li:hover {
  background-color: #fff9f8 !important;
}

div.markdown-content p {
  margin-bottom: 1rem;
}

body {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  background-attachment: fixed;
  --tw-gradient-from: #b7e3bb var(--tw-gradient-from-position);
  --tw-gradient-via: #758589 var(--tw-gradient-via-position);
  --tw-gradient-to: #415343 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-via), var(--tw-gradient-to);

  color: #415343;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 a {
  color: #415343;
}

li a {
  color: #415343;
  text-decoration-line: underline;
}

li {
  color: #415343;
}

a {
  color: #b63e2a;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 768px) {
  @media (min-width: 641px) {
    .desktop-nav {
      display: none;
    }
    .hamburger-nav {
      position: absolute;
      width: 20rem;
    }
    .child-menu-dropdown {
      width: 20rem;
    }
  }
}

  @media (max-width: 640px) {
    .desktop-nav {
      display: none;
    }
    .hamburger-nav {
      position: absolute;
      width: 100%;
      left: 0;
    }
    .child-menu-dropdown {
      width: 100%;
    }
  }

.hamburger-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.text-wq-green {
  --tw-text-opacity: 1;
  color: #415343;
}

.page-content {
  background-color: white;
  border-width: 3px;
  border-color: #556f58;
  border-radius: 2% 2% 2% 2%;
}

.home-dashboard {
  display: grid;
}

@media (min-width: 768px) {
  .page-content {
    margin: 3rem;
    padding: .5rem;
  }
  .home-dashboard {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, calc(30vh + 1.5rem));
  }
  .dashboard-calendar {
    margin: 1rem;
    padding: 1rem;
    height: calc(60vh + 2rem);
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .dashboard-panel {
    margin: .5rem;
    overflow: auto;
  }
  .social-panel {
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 20vh;
  }
  i {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}

@media (max-width: 768px) {
  .home-dashboard {
    margin: .5rem;
    grid-template-columns: 1fr;
  }
  .dashboard-calendar {
    margin: .5rem;
    height: 60vh;

    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .dashboard-panel {
    margin: 1rem;
  }
  .social-panel {
    height: 30vh;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 20vh;
  }
  .social-panel i {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .dashboard-about {
    height: 30vh;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .dashboard-rss {
    height: 30vh;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.dashboard-panel {
  background-color: #f5f4f0;
  border-radius: 2% 2% 2% 2%;
}

.dashboard-section-title {
  border-radius: 4% 4% 0 0;
  background-color: #556f58;
  color: white;
  font-size: 2rem;
  padding: .5rem;
}

.dashboard-rss-scroll {
  padding: .5rem;
  height: calc(30vh - 4rem);
  overflow: auto;
}

.social-panel {
  white-space: nowrap;
  overflow-x: scroll;
}

.wq-navbar {
  background-color: #FFE9E0;
  border-color: #556f58;
  border-bottom-width: 3px;
}

.dashboard-about-copy {
  padding: .5rem;
}

.dashboard-calendar {
  background-color: #556f58 !important;
}